.App
{
    text-align: center;
    background-color: #303030;
}

main
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

h1, h2, h3, h4, h5, h6
{
    background-image: url(../assets/Security.jpg);
    font-weight: 700;
    border-radius: 20px;
    padding: 4px;
}

p
{
    font-size: 1rem;
    padding: 2px;
}

.App-link
{
    color: #61dafb;
    text-decoration: none;
}

#smallBusisnessImg
{
    max-height: 25vh;
}

#pricingImg
{
    max-width: 30vw;
    margin: 5.5px;
}

#cogLogo
{
    max-width: 25vw;
}

#pricing
{
    text-decoration: underline;
}