.brand-logo
{
    height: 4rem;
    pointer-events: none;
    margin: 1rem;
}

.navbar
{
    background: #414141;
}

.nav-link
{
    margin-right: 20px;
}

.dropdown-menu-dark
{
    background: #303030 !important;
}